@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf9f6; /* Тёплый кремовый фон */
  color: #1a1a1a; /* Глубокий уголь */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Премиум-скроллбар */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #faf9f6;
}
::-webkit-scrollbar-thumb {
  background: #d4af37; /* Золотой */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aa8c2c;
}
